#contenedor {
    max-width: 400px;
    margin: auto;
    border-radius: 10px;
    border: 1px solid;
    padding: 20px;
}

#titulo {
    font-size: 2em;
}

#chiste {
    font-size: 1.5em;
}